header {
  background: var(--background-3);
  border-radius: 0.5rem 0.5rem 0 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.left-side {
  display: flex;
}
.right-side {
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
}
.started,
.login,
.logout,
.list,
.contact,
.notifications {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.625em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.notifications {
  font-size: 0.9em;
  position: relative;
}
.notifications span {
  position: absolute;
  top: 2px;
  left: 15px;
  padding: 1px 3px;
  background: red;
  color: #fff;
  border-radius: 50%;
  font-size: 0.7em;
}
.started.active,
.login.active,
.logout.active,
.list.active,
.contact.active,
.notifications.active {
  border-bottom: 3px solid #1f1f89;
}

.started:hover,
.login:hover,
.logout:hover,
.list:hover,
.contact:hover,
.notifications:hover {
  background: rgb(33, 33, 197);
  transition: 0.3s ease-in-out;
}
.started i,
.login i,
.logout i,
.list i,
.contact i {
  font-size: 0.8em;
  color: rgb(85 161 220);
}
.started:hover i,
.login:hover i,
.logout:hover i,
.list:hover i,
.contact:hover i {
  animation: appear 0.4s ease-in-out;
}
@keyframes appear {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
