:host {
  width: 100%;
  display: block;
  min-height: 46px;
  height: auto;
}
header {
  background: var(--background-3);
  border-radius: 0.5rem 0.5rem 0 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: white;
}
.left-side,
.right-side {
  display: flex;
}
nav a {
  text-decoration: none;
  color: white;
}
.started,
.login,
.logout,
.list,
.contact,
.notifications {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.625em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
  font-size: 1.2em;
  min-height: 46px;
}
.notifications {
  font-size: 1em;
  position: relative;
}
.notifications span {
  position: absolute;
  top: 7px;
  left: 15px;
  padding: 1px 3px;
  background: red;
  color: #fff;
  border-radius: 50%;
  font-size: 0.7em;
}
.started.active,
.login.active,
.logout.active,
.list.active,
.contact.active,
.notifications.active {
  border-bottom: 3px solid #1f1f89;
}
.notifications i {
  color: rgb(85 161 220);
}
.notifications i.active,
.notifications.active i {
  color: white;
}
.started:hover,
.login:hover,
.logout:hover,
.list:hover,
.contact:hover,
.notifications:hover {
  background: rgb(33, 33, 197);
  transition: 0.3s ease-in-out;
}
.started i,
.login i,
.logout i,
.list i,
.contact i {
  font-size: 0.8em;
  color: rgb(85 161 220);
}
.started:hover i,
.login:hover i,
.logout:hover i,
.list:hover i,
.contact:hover i {
  animation: appear 0.4s ease-in-out;
}
@keyframes appear {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
[data-title]:after {
  content: attr(data-title);
  background-color: rgb(0 106 187);
  color: #fff;
  font-size: 12px;
  position: absolute;
  padding: 2px 5px;
  top: 49px;
  left: 0;
  white-space: nowrap;
  box-shadow: 0px 1px 2px 0px #161616;
  opacity: 0;
  z-index: 1;
  border-radius: 0.2em;
}
[data-title]:hover:after {
  opacity: 0.9;
  transition: 0.8s;
}
[data-title] {
  position: relative;
}
.nav-toggler {
  position: absolute;
  top: 0;
  right: 2px;
  display: none;
  width: 3em;
  min-height: 46px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.625em;
  padding-bottom: 0.5em;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.nav-toggler .line {
  display: none;
  width: 100%;
  height: 0.15rem;
  background: #f1f1f1;
  transition: 0.3s ease-out;
}
.l1 {
  transform: translateY(-7px);
}
.l3 {
  transform: translateY(7px);
}
.nav-toggler.active .l1 {
  transform: translateY(0) rotate(135deg);
}
.nav-toggler.active .l2 {
  animation: moveLeft 0.4s forwards;
}
@keyframes moveLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}
.nav-toggler.active .l3 {
  transform: translateY(-5px) rotate(-135deg);
}
@media (max-width: 700px) {
  .nav-toggler {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-toggler .line {
    display: block;
  }
  .notifications {
    margin-right: 3em;
  }
  [data-title]:after {
    left: -111px;
  }
  .started,
  .login,
  .list,
  .contact,
  .logout {
    display: none;
  }
  header.open {
    background: #006abbd1;
  }
  nav.open {
    align-items: center;
    flex-direction: column;
  }
  nav.open .started,
  nav.open .login,
  nav.open .list,
  nav.open .contact,
  nav.open .logout {
    display: flex;
    min-width: 180px;
  }
  nav.open .notifications {
    display: none;
  }
  .left-side.open,
  .right-side.open {
    flex-direction: column;
  }
}
