<header [ngClass]="{ open }">
  <nav [ngClass]="{ open }" [@goingToRight]="open">
    <div class="left-side" [ngClass]="{ open }">
      <div
        class="started"
        routerLink="/getting-started"
        routerLinkActive="active"
        *ngIf="open || notResponsiveMode"
        (click)="unExpandNavigationMenu()"
      >
        <i class="fa-solid fa-play"></i>
        <a>Getting Started</a>
      </div>
      <div
        class="login"
        routerLink="/login"
        routerLinkActive="active"
        *ngIf="!isAuthenticated && (open || notResponsiveMode)"
        (click)="unExpandNavigationMenu()"
      >
        <i class="fa-solid fa-right-to-bracket"></i><a>Log In</a>
      </div>
      <div
        class="list"
        routerLink="/my-list"
        *ngIf="open || notResponsiveMode"
        (click)="unExpandNavigationMenu()"
        routerLinkActive="active"
        attr.data-title="{{
          !isAuthenticated ? 'Log in to see this content' : null
        }}"
      >
        <i class="fa-solid fa-rectangle-list"></i><a>My List</a>
      </div>
    </div>
    <div class="right-side" [ngClass]="{ open }">
      <div
        class="notifications"
        routerLink="/notifications"
        routerLinkActive="active"
        attr.data-title="{{
          !isAuthenticated ? 'Log in to see this content' : null
        }}"
      >
        <span *ngIf="notificationsNumber > 0" [@fadeInOut]>{{
          notificationsNumber > 9 ? "9+" : notificationsNumber
        }}</span>
        <i
          [ngClass]="{ active: notificationsNumber > 0 }"
          class="fa-solid fa-bell"
        ></i>
      </div>
      <button
        type="button"
        class="nav-toggler"
        (click)="toggleMenu()"
        [ngClass]="{ active: open }"
      >
        <span class="line l1"></span>
        <span class="line l2"></span>
        <span class="line l3"></span>
      </button>
      <div
        class="contact"
        routerLink="/contact"
        routerLinkActive="active"
        *ngIf="open || notResponsiveMode"
        (click)="unExpandNavigationMenu()"
      >
        <i class="fa-solid fa-address-card"></i><a>Contact</a>
      </div>
      <div
        class="logout"
        routerLinkActive="active"
        *ngIf="isAuthenticated && (open || notResponsiveMode)"
        (click)="unExpandNavigationMenu()"
        (click)="onLogOut()"
      >
        <i class="fa-solid fa-right-from-bracket"></i><a>Log Out</a>
      </div>
    </div>
  </nav>
</header>
