<header>
  <nav>
    <div class="left-side">
      <div class="started">
        <i class="fa-solid fa-play"></i>
        <a routerLink="/getting-started">Getting Started</a>
      </div>
      <div class="login">
        <i class="fa-solid fa-right-to-bracket"></i
        ><a routerLink="/login">Log In</a>
      </div>
      <div class="list">
        <i class="fa-solid fa-rectangle-list"></i
        ><a routerLink="/my-list">My List</a>
      </div>
    </div>
    <div class="right-side">
      <div class="contact">
        <i class="fa-solid fa-address-card"></i
        ><a routerLink="/contact">Contact</a>
      </div>
      <div class="logout">
        <i class="fa-solid fa-right-from-bracket"></i><a>Log Out</a>
      </div>
    </div>
  </nav>
</header>
