<header>
  <nav>
    <div class="left-side">
      <div
        class="started"
        routerLink="/getting-started"
        routerLinkActive="active"
      >
        <i class="fa-solid fa-play"></i>
        <a>Getting Started</a>
      </div>
      <div
        class="login"
        routerLink="/login"
        routerLinkActive="active"
        [@loginAnimation]="isAuthenticated ? 'invisible' : 'visible'"
      >
        <i class="fa-solid fa-right-to-bracket"></i><a>Log In</a>
      </div>
      <div class="list" routerLink="/my-list" routerLinkActive="active">
        <i class="fa-solid fa-rectangle-list"></i><a>My List</a>
      </div>
    </div>
    <div class="right-side">
      <div
        class="notifications"
        routerLink="/notifications"
        routerLinkActive="active"
      >
        <span *ngIf="notificationsNumber > 0" [@fadeInOut]>{{
          notificationsNumber > 9 ? "9+" : notificationsNumber
        }}</span>
        <i
          [ngClass]="{ active: notificationsNumber > 0 }"
          class="fa-solid fa-bell"
        ></i>
      </div>
      <div class="contact" routerLink="/contact" routerLinkActive="active">
        <i class="fa-solid fa-address-card"></i><a>Contact</a>
      </div>
      <div
        class="logout"
        routerLinkActive="active"
        *ngIf="isAuthenticated"
        [@fadeInOut]
        (click)="onLogOut()"
      >
        <i class="fa-solid fa-right-from-bracket"></i><a>Log Out</a>
      </div>
    </div>
  </nav>
</header>
