<form (ngSubmit)="onChange()" [formGroup]="changeForm">
  <div class="change-item-container">
    <div class="name">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        maxlength="20"
        required
      />
    </div>
    <div class="date">
      <label for="bestBefore">Best Before</label>
      <input
        type="date"
        id="bestBefore"
        name="bestBefore"
        formControlName="bestBefore"
        required
      />
    </div>
    <div class="actions">
      <button type="submit" [disabled]="!changeForm.valid">
        <i class="fa-regular fa-pen-to-square"></i>Edit
      </button>
      <button type="button" (click)="onDeleteItem()">
        <i class="fa-regular fa-trash-can"></i>Delete
      </button>
    </div>
  </div>
  <div class="date-error" *ngIf="bestBefore!.errors?.['invalidDate']" [@down]>
    <p>Date can't be set in the past</p>
  </div>
</form>
