.change-item-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: rgb(0 106 187);
  background: var(--background-1);
  border-radius: 0.4em;
  margin: 1em 0 0.4em 0;
  padding: 1em;
}
.change-item-container label {
  font-weight: 600;
}
.change-item-container button {
  background: var(--background-2);
  outline: none;
  padding: 0.625em;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.2em;
}
.change-item-container input {
  display: block;
  outline: none;
  border: 1px solid rgb(198, 198, 198);
}
.actions button:first-child {
  margin-right: 0.2em;
}
.actions button:first-child:disabled {
  background: rgb(85 161 220);
  cursor: not-allowed;
}
.actions button:nth-child(2) {
  background: brown;
}
.change-item-container i {
  margin-right: 0.4em;
}
.date-error {
  max-width: 250px;
  background: rgb(226 230 243 / 90%);
  opacity: 0.9;
  padding: 0.225em;
  border-radius: 0.2em;
}
.date-error p {
  padding-left: 0.3em;
  border-left: 2px solid red;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
