<form (ngSubmit)="onChange(itemForm)" #itemForm="ngForm">
  <div class="change-item-container">
    <div class="name">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        ngModel="{{ item.name }}"
        name="name"
        required
      />
    </div>
    <div class="date">
      <label for="bestBefore">Best Before</label>
      <input
        type="date"
        id="bestBefore"
        [ngModel]="item.bestBefore | date : 'yyyy-MM-dd'"
        name="bestBefore"
        required
      />
    </div>
    <div class="actions">
      <button type="submit" [disabled]="!itemForm.valid">
        <i class="fa-regular fa-pen-to-square"></i>Edit
      </button>
      <button type="button" (click)="onDeleteItem()">
        <i class="fa-regular fa-trash-can"></i>Delete
      </button>
    </div>
  </div>
</form>
