main {
  position: relative;
}
.bg-picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.625em;
}
.text {
  display: grid;
  grid-template-rows: 70px auto;
  min-height: 250px;
  border-radius: 0.2em;
  background: #ffffff6e;
}
.header {
  background: #01020ac4;
  padding: 0.625em;
  display: flex;
  align-items: center;
}
.header p {
  color: #fff;
  line-height: 1.5;
}
.message {
  padding: 1em 0.625em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}
.message p {
  font-size: 1.2em;
  text-align: center;
}
p {
  font-weight: 600;
}
.redirect {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.7em;
  margin-top: 0.7em;
}
.redirect button {
  font-size: 0.9em;
  border: none;
  border-radius: 0.2em;
  padding: 0.7em;
  color: #fff;
  background: var(--background-2);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 5px 7px -5px rgb(44 33 143 / 71%);
}
.redirect button:hover {
  transform: translateX(-0.4em);
  background: blue;
}
