<div class="layer">
  <img src="../../assets/login.jpg" alt="" />
  <div class="form-container">
    <div class="form-content">
      <span class="login-header"> </span>
      <div class="form">
        <form>
          <div class="user">
            <i class="fa-solid fa-user"></i>
            <input type="text" id="email" placeholder="Email adress" />
          </div>
          <div class="password">
            <i class="fa-solid fa-lock"></i>
            <input type="password" id="password" placeholder="Password" />
          </div>
        </form>
        <button>Sign In</button>
      </div>
    </div>
  </div>
</div>
