<div class="layer">
  <div class="error" *ngIf="error" [@down]>
    <p>
      <i class="fa-solid fa-circle-exclamation"></i>{{ ErrorResponseMessage }}
    </p>
  </div>
  <img src="../../assets/login.jpg" alt="Esthetic dinner plate" />
  <div class="form-container">
    <div class="form-content" [ngClass]="{ expanded }">
      <span class="login-header"> </span>
      <div class="form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(choice)">
          <div class="input-controls">
            <div class="user">
              <i class="fa-solid fa-user"></i>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Email adress"
                formControlName="email"
                required
                email
              />
            </div>
            <div class="password">
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                formControlName="password"
                required
              />
            </div>
            <div class="confirm password" *ngIf="expanded" [@downConfPassword]>
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
              />
            </div>
          </div>
          <div class="submit">
            <button
              class="login"
              type="submit"
              [disabled]="!loginForm.valid"
              [ngClass]="{ loadingLogin: isLoading }"
            >
              Login
              <i
                class="fas fa-spinner fa-pulse"
                *ngIf="isLoading && !error"
              ></i>
            </button>
          </div>
        </form>
      </div>
      <div class="sign-choice">
        <div class="option">
          <p #choiceText>
            First visit ?
            <span class="underline" (click)="textToggleLogin()">Sign Up</span>
          </p>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="cbx-3" #choice (click)="toggleLogin()" />
          <label for="cbx-3" class="toggle"><span></span></label>
        </div>
      </div>
    </div>
  </div>
</div>
