<form (ngSubmit)="onCreateItem()" [formGroup]="initialForm">
  <div class="form-container">
    <img class="fridge" src="../../assets/fridge.jpg" alt="fridge with food" />
    <div class="change-item-container">
      <div class="name">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          #name
          formControlName="name"
          maxlength="20"
          required
          tabindex="0"
          (keyup.escape)="onCancel()"
        />
      </div>
      <div class="date">
        <label for="bestBefore">Best Before</label>
        <input
          type="date"
          id="bestBefore"
          name="bestBefore"
          formControlName="bestBefore"
          required
          (keyup.escape)="onCancel()"
        />
      </div>
      <div class="actions">
        <button type="submit" [disabled]="!initialForm.valid">
          <i class="fa-regular fa-pen-to-square"></i>Save
        </button>
        <button type="button" (click)="onCancel()">
          <i class="fa-solid fa-xmark"></i>Cancel
        </button>
      </div>
    </div>
    <div class="date-error" *ngIf="bestBefore!.errors?.['invalidDate']" [@down]>
      <p>Date can't be set in the past</p>
    </div>
  </div>
</form>
