.description {
  display: flex;
  justify-content: space-between;
}
.description .name {
  text-transform: capitalize;
}
.description p {
  min-width: 60px;
}
.time {
  display: flex;
  justify-content: space-between;
  min-width: 220px;
}
.best-before {
  display: flex;
}
.actions i {
  cursor: pointer;
  will-change: transform;
}
.actions i:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.actions i:first-child {
  margin-right: 0.3rem;
}

.priority-1,
.priority-2 {
  font-weight: bold;
}
.priority-1 {
  color: red;
}
.priority-2 {
  color: orange;
}
