<div class="description">
  <p class="name">{{ item.name }}</p>
  <div class="time">
    <div class="best-before">
      <p>Best Before :&nbsp;</p>
      <span> {{ item.bestBefore | date : "dd-MM-yyyy" }}</span>
    </div>
    <p [ngClass]="item.class">
      <i class="fa-regular fa-clock"></i>
      {{ item.dayLeft > 365 ? "365+" : item.dayLeft }} day{{
        item.dayLeft! > 1 ? "s" : ""
      }}
    </p>
  </div>
  <div class="actions">
    <i
      class="fa-regular fa-pen-to-square"
      [routerLink]="['/my-list/item']"
      [queryParams]="{
        name: item.name,
        bestBefore: item.bestBefore,
        id: item.itemId
      }"
    ></i>
    <i class="fa-regular fa-trash-can" (click)="onDeleteItem()"></i>
  </div>
</div>
