.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description .name {
  text-transform: capitalize;
}
.description p {
  min-width: 60px;
}
.time {
  display: flex;
  justify-content: space-between;
  /* gap: 0.5em; */
  min-width: 235px;
}
.best-before {
  display: flex;
}
.actions i {
  font-size: 1.2em;
  cursor: pointer;
  will-change: transform;
}
.actions i:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.actions i:first-child {
  margin-right: 0.4rem;
}

.priority-1,
.priority-2 {
  font-weight: bold;
}
.priority-1 {
  color: red;
}
.priority-2 {
  color: orange;
}
@media (max-width: 460px) {
  .time {
    min-width: auto;
  }
  .time .best-before {
    display: none;
  }
}
