<div class="layer">
  <header class="intro">
    <img src="../../assets/food.jpg" alt="" />
  </header>
  <div class="text">
    <p>
      This app lets you manage your food products, keeping track of the expiry
      date. <span class="emphasize">Never waste food again&nbsp;!</span>
    </p>
    <p>
      Avoid wasting food is
      <span class="emphasize">good for the planet and your wallet.</span>
    </p>
    <p title="Food and Agriculture Organization of the United Nations">
      Useful information about this topic can be found at the FAO :
      <a
        href="https://www.fao.org/fao-stories/article/en/c/1309609/"
        target="_blank"
        >Tips for reducing food waste</a
      >
    </p>
    <p class="actions">
      <span class="emphasize blue" routerLink="/login"
        >Just create an account | Log in</span
      >
      and insert the name and the expiry date of a product.
      <span class="emphasize">No email validation is required.</span>
    </p>

    <p>
      As I'm not a web designer, I found inspiration in the following
      design&nbsp;:
      <a
        href="https://dribbble.com/shots/3306661-App-Settings-CRUD/attachments/9756302?mode=media"
        target="_blank"
        >Chris Meyer on dribbble</a
      >
    </p>
    <p class="in-touch">
      Two months of intensive work (not full time) have been necessary to build
      this app. Feel free to provide me your feedback&nbsp;!
    </p>
    <p>
      Browse to
      <span class="emphasize blue" routerLink="/contact">contact</span> to get
      in touch.
    </p>
  </div>
</div>
