.layer {
  grid-template-rows: 150px auto min-content;
  color: #333;
}
.layer button {
  padding: 0.625em 1.4em;
  display: block;
  color: white;
  border: none;
  background: var(--background-2);
  border-radius: 1.5em;
  box-shadow: 0px 4px 7px -5px rgb(0 0 0 / 71%);
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: translateY(-0.2em);
}
.intro img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.text {
  padding: 0.625em;
}
.confirm-landing {
  display: flex;
  gap: 0.4em;
  margin-top: 1.5em;
  font-size: 0.9em;
}
.confirm-landing label {
  cursor: pointer;
  user-select: none;
}
.confirm-landing input:checked {
  animation: transition 0.5s;
}
@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  padding: 0.625em;
}
