<div class="layer">
  <header class="intro">
    <img src="../../assets/food.jpg" alt="" />
  </header>
  <div class="text">
    <p>
      This app lets you manage your food products, keeping track of the expiry
      date. Never waste food again !
    </p>
    <p>Avoid wasting food is good for the planet and your wallet.</p>
    <p>
      Just log in and insert the name and the expiry date of a product. No email
      validation is required.
    </p>
    <p>
      As I'm not a web designer, I found inspiration in the following design :
      <a
        href="https://dribbble.com/shots/3306661-App-Settings-CRUD/attachments/9756302?mode=media"
        target="_blank"
        >Chris Meyer on dribbble</a
      >
    </p>
    <div class="confirm-landing">
      <label for="landing">Do not show landing page again</label>
      <input type="checkbox" id="landing" name="landing" />
    </div>
  </div>
  <footer><button routerLink="/login">Log In</button></footer>
</div>
