.general-container {
  background: linear-gradient(to bottom right, blue, rgb(2, 242, 255));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 750px;
}
.transparent-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  box-shadow: 0px 3px 13px -5px rgb(0 0 0 / 71%);
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(213, 213, 213, 0.3);
}

section {
  width: 100%;
  border-radius: 0.5rem;
  background: var(--background-1);
  height: 40.4rem;
  overflow: hidden;
}
.main {
  position: relative;
}
