.container {
  display: flex;
}
.title {
  display: flex;
}
.tips i.fa-lightbulb {
  margin-right: 0.3em;
  color: rgb(244, 210, 19);
  font-size: 1.1em;
  animation: rotate 1.5s ease-out 1s;
}
@keyframes rotate {
  to {
    transform: rotateY(5turn);
  }
}

.tips-message {
  display: inline-block;
}
.two {
  display: none;
}
