.tips {
  align-self: flex-end;
}
.tips i {
  font-size: 0.7em;
  margin-right: 0.3em;
}
.tips p {
  font-size: 0.9em;
}
.tips p i:first-child {
  color: rgb(244, 210, 19);
  font-size: 1em;
}
.fa-lightbulb {
  animation: rotate 2s ease-out 1s;
}
@keyframes rotate {
  to {
    transform: rotateY(7turn);
  }
}
