<div class="layer" appKeyDown>
  <app-create-component (newItemAdded)="addItem($event)"></app-create-component>

  <app-general-overview
    [itemsToDisplay]="itemsToDisplay"
    [totalPages]="totalPages"
    (updateTP)="updateTotalPages($event)"
    (choosenCriteria)="updateCriteria($event)"
    [listItems]="listItems"
    [(searching)]="searchInProgress"
    [currentPage]="currentPage"
    (LI)="updateLI($event)"
    [(confirmDeleteCount)]="confirmDeleteCount"
  ></app-general-overview>
  <footer>
    <app-tips></app-tips>
    <div class="clear">
      <button
        type="button"
        [disabled]="!listItems.length"
        (click)="onDeleteAll()"
      >
        {{ confirmDeleteCount < 1 ? "Clear all" : "Delete" }}
      </button>
    </div>
  </footer>
</div>
