.layer {
  grid-template-rows: 130px auto min-content;
}

.clear button {
  padding: 0.625em;
  background: brown;
  color: white;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}
.clear button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.625em;
}
