:host {
  margin: 1.8em 0 1em 0;
  padding: 0 0.625em;
}
.main-container {
  display: grid;
  grid-template-rows: auto min-content;
  height: 100%;
}
.food-container {
  font-size: 0.9em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
}
.header p {
  cursor: pointer;
}
.header i {
  font-size: 0.8em;
  margin-left: 0.4em;
}
div i.fa-magnifying-glass {
  font-size: 1em;
}

[data-title]:after {
  content: attr(data-title);
  background-color: rgb(0 106 187);
  color: #fff;
  font-size: 0.6em;
  position: absolute;
  padding: 2px 5px;
  top: -1.4em;
  left: 0;
  white-space: nowrap;
  box-shadow: 0px 1px 2px 0px #b6b6b6;
  opacity: 0;
  z-index: 1;
  border-radius: 0.2em;
}
[data-title]:hover:after {
  opacity: 0.9;
  transition: all 0.8s;
}
[data-title] {
  position: relative;
}

.header p:last-child {
  color: grey;
  font-size: 0.7em;
}
.search {
  display: flex;
  align-items: center;
  gap: 0.2em;
  max-width: 6em;
}
.search input {
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  width: 100%;
  color: rgb(0 106 187);
  outline: none;
}
.pagination {
  display: flex;
  justify-content: center;
}
hr {
  background: rgb(0 106 187);
  height: 2px;
  border: none;
  margin: 0.1em 0 0.3em 0;
}
section.wrapper {
  position: relative;
  overflow: hidden;
}
.event-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.delete-all-confirm {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background: #a60000ba;
  color: #fff;
}
.delete-all-confirm p {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1.4px;
}
.delete-all-confirm i.fa-xmark {
  font-size: 1.4em;
  cursor: pointer;
}
.delete-all-confirm i:hover {
  animation: scaleUp 0.3s forwards;
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.loading {
  margin-top: 2em;
}
.error {
  color: red;
  width: 100%;
}
.error i {
  margin-right: 0.3em;
  color: #e71a1a;
}
.no-item {
  margin-top: 1em;

  color: rgb(191 191 191);
}
.no-item i {
  margin-right: 0.3em;
}
.error p {
  background: #ffd2d2;
  padding: 0.625em;
  font-weight: 600;
  border-radius: 0.2em;
}
